h1 {
  color: red;
  background: yellow;
  margin: 50px;
  font-size: 50px;
  font-family: "Comic Sans MS";
  border: 20px solid;
  text-align: center
}
p {
  color: yellow;
  background: #00FF00;
  padding: 50px;
  border: 20px solid;
  border-color: cyan;
  text-align: right
}
b {
  background: white;
}
